<?xml version="1.0"?>
<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find robot_contest_moveit_config)/config/ros_controllers.yaml" command="load"/>

  <!-- Load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="front_left_foot_controller front_right_foot_controller middle_left_foot_controller middle_right_foot_controller end_left_controller end_right_foot_controller "/>

</launch>
